$roboto: 'Roboto', sans-serif;
$roboto: 'Roboto', sans-serif;
$fw400: 400;
$fw500: 500;
$mainTitle: 3.125rem;
$mainText: 1.125rem;
$blocksTitle: 2.25rem;
$blocksText: 1rem;
$buttonSmallText: 0.75rem;
$regularSize: 0.875rem;