.container{
    width: 1440px;
    margin: 0 auto;
    background: #FFFFFF;
    position: relative;
    
    overflow: hidden;
}

*{
    box-sizing: border-box;
}

a , button{ cursor: pointer;transition: all 0.3s;}
a {color:#111111; text-decoration: none; }

.header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 1360px;
    height: 956px;
    margin-left: 80px;
}

.blue-container{
    height: 810px;
    width: 750px;
    grid-column: 2 / 5;
    grid-row: 1 / 4;
    background: #2B7AF1;
    border-radius: 0px 0px 0px 10px;
    justify-self: end;
}

.head-photo{
    width: 895px;
    height: 473px;
    margin-top: 140px;
    justify-self: end;
    grid-column: 2 / 5;
    grid-row: 1 / 4;
    background-image: url(./assets/head-img.png);
    background-size: 895px;
    filter: drop-shadow(0px 10px 20px rgba(17, 17, 17, 0.1));
    border-radius: 10px 0px 0px 10px;
}

.menu{
    grid-column: 1 / 5;
    grid-row: 1;
    margin-top: 30px;
    height: 54px;
    align-items: center;
    width: 1285px;
    display: flex;
    justify-content: space-between;
}

.navigation{
    display: flex;
    align-items: center;
}

.top-left{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 136px;
    height: 54px;
}

.head > a{
    width: 68px;
    height: 20px;  
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    text-decoration: underline;
    text-decoration-color: #111111;
    text-decoration-thickness: 2px;
}

.head >a:hover{
    color: #2B7AF1;
}

.header-flats{
    width: 86px;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    margin-left: 40px;
}

.header-flats >a:hover{
    color: #2B7AF1;
}

.header-contacts{
    width: 82px;
    height: 20px;
    font-family: 'Montserrat', sans-serif ;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    margin-left: 40px;
}

.header-contacts >a:hover{
    color: #2B7AF1;
}

.header-about-us{
    width: 70px;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    margin-left: 40px;
}

.header-about-us >a:hover{
    color: #2B7AF1;
}

.header-mail{
    width: 185px;
    height: 40px;
    background-image: url(./assets/Icon.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-mail > a{
    font-family: 'Montserrat', sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    transition: all 0.5s;
    padding-left: 45px;
}

.header-mail > a:hover{
    color:#dd9831;
}

.header-phone{
    width: 200px;
    height: 40px;
    margin-left: 20px;
    background-image: url(./assets/Icon\ \(1\).png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-phone > a{
    font-family: 'Montserrat', sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF; 
    transition: all 0.5s;
    padding-left: 45px;
}

.header-phone > a:hover{
    color: #dd9831;
}

.header-button { 
    margin-left: 25px;
}

.header-button > button {
    border: none;
    width: 218px;
    height: 52px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.header-button > button:hover{
    background: linear-gradient(89.77deg, #e06c00 0.2%, #dd9831 99.82%);
}

.head-centre-left{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 413px;
    height: 296px;
}

.head-centre-left >h1{
    width: 413px;
    height: 98px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #111111;
}

.head-centre-left > p{
    width: 413px;
    height: 66px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #111111;
    margin-top: 20px;
}

.head-centre-left > button{
    width: 251px;
    height: 52px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    margin-top: 60px;
    border:none; 
    font-family: 'Montserrat', sans-serif ;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.head-centre-left > button:hover{
    background: linear-gradient(89.77deg, #e06c00 0.2%, #dd9831 99.82%);
}

.card-documents{
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    margin-top: 164px;
    width: 305px;
    height: 231px;
    background: #FFFFFF;
    border-radius: 10px;
    background-image: url(./assets/documents.png);
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: 40px;
    filter: drop-shadow(0px 5px 20px rgba(17, 17, 17, 0.3));
}

.card-documents > p{
    font-family: 'Open Sans' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #111111;  
    padding-top: 146px;
}

.card-money{
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    filter: drop-shadow(0px 5px 20px rgba(17, 17, 17, 0.3));
    margin-top: 164px;
    margin-left: -15px;
    width: 305px;
    height: 231px;
    background: #FFFFFF;
    border-radius: 10px;
    background-image: url(./assets/money.png);
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: 40px;
}

.card-money > p{
    font-family: 'Open Sans' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #111111;  
    padding-top: 146px;
}

.card-time{
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    filter: drop-shadow(0px 5px 20px rgba(17, 17, 17, 0.3));
    margin-top: 164px;
    margin-left: -30px;
    width: 305px;
    height: 231px;
    background: #FFFFFF;
    border-radius: 10px;
    background-image: url(./assets/time.png);
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: 40px;
}

.card-time > p{
    font-family: 'Open Sans' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #111111;  
    padding-top: 146px;
}

.card-confidential{
    grid-column: 4 / 5;
    grid-row: 3 / 5;
    filter: drop-shadow(0px 5px 20px rgba(17, 17, 17, 0.3));
    margin-top: 164px;
    margin-left: -45px;
    width: 305px;
    height: 231px;
    background: #FFFFFF;
    border-radius: 10px;
    background-image: url(./assets/time.png);
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: 40px;
}

.card-confidential > p{
    font-family: 'Open Sans' ,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #111111;  
    padding-top: 146px;
}

#flats{
    width: 1280px;
    height: 814px;
    margin: 120px 80px 0 80px;
}

.our-flats{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2B7AF1;
    height: 44px;
}

.flats-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
    grid-template-areas: 
    "one one three"
    "two five five";
    
}

.one-room{
    grid-area: one;
    width: 738px;
    height: 300px;
    background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.5)), url(./assets/one-room.png);
    box-shadow: 0px 10px 20px rgba(17, 17, 17, 0.1);
    border-radius: 10px;
}

.title{
    width: 344px;
    height: 29px;
    padding: 116px 0 65px 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;    
}

.per-day{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-left: 40px;
    padding-bottom: 24px;
}
.per-day > strong{
    font-weight: 800;
}

.location{
    display: flex;
    align-items: center;
    padding-left: 40px;
    justify-content: space-between;
}

.location-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
}

.location > li> button {
    height: 33px;
    width: 126px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-right: 20px;
    justify-self: right;
}

.location > li> button:hover{
    background: linear-gradient(89.77deg, #e06c00 0.2%, #dd9831 99.82%);
}

.three-rooms{
    grid-area: three;
    width: 522px;
    height: 300px;
    background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.5)), url(./assets/three-room.png);
    box-shadow: 0px 10px 20px rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    margin-left: -163px;
}

.two-rooms{
    grid-area: two;
    width: 522px;
    height: 300px;
    background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.5)), url(./assets/two-room.png);
    box-shadow: 0px 10px 20px rgba(17, 17, 17, 0.1);
    border-radius: 10px;
}

.two-rooms >img{
    position: absolute;
    margin: 20px 0 0 40px;
}

.five-rooms{
    grid-area: five;
    width: 738px;
    height: 300px;
    background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.5)), url(./assets/five-room.png);
    box-shadow: 0px 10px 20px rgba(17, 17, 17, 0.1);
    border-radius: 10px;
}

.button-flats > button{
    position: absolute;
    left: 568px;
    width: 304px;
    height: 50px;
    margin-top: 60px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.button-flats> button:hover{
    background: linear-gradient(89.77deg, #e06c00 0.2%, #dd9831 99.82%);
}

#about-us{
    width: 1280px;
    height: 310px;
    margin-left: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us-left{
    display: flex;
    flex-direction: column;
    width: 433px;
}

.about-us-left >h1{
    height: 44px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2B7AF1;

}

.about-us-left > p{
    width: 433px;
    height: 125px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #111111;
    margin-top: 40px;
}

.about-us-right{
    width: 748px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.deal{
    display: flex;
    align-items: center;
    width: 191px;
    height: 88px;
}

.inside-deal{
    width: 191px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.inside-deal >h1{
    width: 72px;
    height: 44px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2B7AF1;
}

.inside-deal >p{
    width: 81px;
    height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px; 
    color: #111111;
}

.review{
    width: 186px;
    height: 88px;
    display: flex;
    align-items: center;
}

.inside-review{
    width: 186px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inside-review > h1{
    width: 86px;
    height: 44px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2B7AF1;   
}

.inside-review > p{
    width: 74px;
    height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px; 
    color: #111111;
}

.house{
    width: 171px;
    height: 88px;
    display: flex;
    align-items: center;
}

.inside-house{
    width: 171px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    text-align: left;
    padding-left: 15px;
}

.inside-house > h1{
    width: 24px;
    height: 44px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2B7AF1;   
}

.inside-house > p{
    width: 71px;
    height: 26px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px; 
    color: #111111;
}

.hr{
    width: 1280px;
    height: 1px;
    margin-left: 81px;
    background: linear-gradient(to right, #fff, #FFB039, #FF7A00, #FF7A00, #FF7A00, #FFB039, #fff);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 1px;
    border: none;
}

#contacts{
    width: 1280px;
    height: 429px;
    margin-left: 80px;
    margin-top: 107px;
    display: flex;
    justify-content: space-between;
}

.contacts-right >img{
    width: 758px;
    height: 429px;
    filter: drop-shadow(0px 10px 20px rgba(17, 17, 17, 0.1));
    border-radius: 10px;
}

.contacts-left{
    height: 429px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-left > h1{
    width: 194px;
    height: 46.15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2B7AF1;
}

.list-1{
    width: 381px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-1 > li> a:hover{
    color: #2B7AF1;
}

.cont-li{
    display: flex;
    align-items: center;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #111111;
}

.contacts-kyiv{
    background-image: url(./assets/located.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;
}

.contacts-mail{
    background-image: url(./assets/Mail.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;
}

.contacts-phone{
    background-image: url(./assets/phone.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;
}

.list-2{
    width: 482px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-2 > li{
    display: flex;
    justify-content: space-between;
}

.contacts-insta{
    background-image: url(./assets/instagram.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;
}

.contacts-vk{
    background-image: url(./assets/vk.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;
}

.contacts-button{
    width: 157px;
    height: 33px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    border: none;
}

.contacts-button > a{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.contacts-button:hover{
    background: linear-gradient(89.77deg, #e06c00 0.2%, #dd9831 99.82%);
}

.customer-reviews{
    margin-top: 160px;
    width: 1440px;
    height: 649px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.quotes{
    grid-column: 2;
    grid-row: 1 / 3; 
    justify-self: end;
    margin-top: 40px;
    margin-right: 40px;
}

.blue-container-2{
    grid-column: 1/ 3;
    grid-row: 1 / 5; 
    background: #2B7AF1;
}

.customer-reviews > h1{
    width: 357px;
    height: 47px;
    grid-column: 1;
    grid-row: 1 / 3;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
    margin-top: 100px;
    margin-left: 80px;
}

.review-left{
    width: 630px;
    height: 292px;
    grid-column: 1;
    grid-row: 2 / 4;
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 20px;
}

.review-right{
    width: 630px;
    height: 292px;
    grid-column: 2;
    grid-row: 2 / 4;
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

.arrow-left{
    grid-column: 1;
    grid-row: 2 / 4;
    align-self: center;
    margin-left: 40px;
}

.arrow-right{
    grid-column: 2;
    grid-row: 2 / 4;
    align-self: center;
    justify-self: end;
    margin-right: 40px;
}

.slider{
    grid-column: 1 / 3;
    grid-row: 4;
    justify-self: center;
    margin-top: 60px;
}

.review-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 40px 40px 45px;
    background-image: url(./assets/stars.png);
    background-repeat: no-repeat;
    background-position-x: 91.5%;
    background-position-y: 15%;
}

.text-review{
    height: 191px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-review > h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2B7AF1;
}

.text-review > p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #111111;
}

.text-review > h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #2B7AF1;
}

.reviewer{
    display: flex;
    justify-content: space-between;
}

.reviewer > p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #111111;
}

#review-date{ 
    font-size: 14px;
    line-height: 17px;
}

.review-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 40px 40px 45px;
    background-image: url(./assets/stars.png);
    background-repeat: no-repeat;
    background-position-x: 91.5%;
    background-position-y: 15%;
}

.bottom{
    margin-top: 100px;
    width: 1440px;
    height: 811px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.foot-img{
    
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    background: linear-gradient(rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.5)), url(./assets/footer-img.png);
}

.small-quotes{
    width: 70.69px;
    height: 69.61px;
    margin-left: 622px;
    grid-column: 1 / 2;
    grid-row: 1;
    background-image: url(./assets/small-quotes.png);
    background-repeat: no-repeat;
}

.contact-us{
    width: 1180px;
    height: 451px;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    margin-left: 188px;
    display: flex;
    justify-content: space-between;
}

.contact-block{
    display: flex;
    flex-direction: column;
    width: 393px;
    height: 451px;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px -5px 20px rgba(41, 41, 42, 0.2));
}

.contact-block >h1{
    width: 290px;
    height: 44px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #2B7AF1;
    margin-top: 40px;
}

input[name=name]{
    width: 313px;
    height: 42px;
    border: 1px solid rgba(17, 17, 17, 0.5);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(17, 17, 17, 0.5);
    padding-left: 20px;
}

input[name=your-text]{
    width: 313px;
    height: 115px;
    border: 1px solid rgba(17, 17, 17, 0.5);
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(17, 17, 17, 0.5);
    padding-left: 20px;
    padding-bottom: 80px;
}

.contact-block > button{
    width: 152px;
    height: 50px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-bottom: 40px;
}

.contact-block > button:hover{
    background: linear-gradient(89.77deg, #e06c00 0.2%, #dd9831 99.82%);   
}


.director{
    width: 703px;
    height: 174px;
    margin-left: 84px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback{
    width: 703px;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    font-feature-settings: 'liga' off;
    color: #111111;   
}

.director > h3{
    width: 221px;
    height: 28px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'liga' off;
    color: #2B7AF1;
    padding-top: 10px;
}

.designation{
    width: 183px;
    height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'liga' off;
    color: #111111;
}

.footer{
    width: 1440px;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    height: 100px;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.8) 100%);
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
    padding-left: 80px;
    padding-right: 80px;
}

.footer-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 594px;
}

.logo-foot{
    width: 150px;
    height: 60px;
    background: #2B7AF1;
    border-radius: 10px;
    text-align: center;
    padding-top: 19px;
}

.logo-foot >p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.menu-foot > a{
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.menu-main{
    text-decoration: underline;
    text-decoration-color: #111111;
    text-decoration-thickness: 2px;
}

.menu-foot > a:hover{
    color: #2B7AF1;
}

.footer-center{
    width: 391px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-contacts> a{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.foot-contacts> a:hover{
    color: #2B7AF1;
}

.footer-mail{
    height: 40px;
    display: flex;
    align-items: center;
    background-image: url(./assets/Mail.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 45px;
}

.footer-phone{
    height: 40px;
    display: flex;
    align-items: center;
    background-image: url(./assets/phone.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 45px;
}

.footer-right{
    width: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right >a:hover{
    opacity: 60%;
}

#hr{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    width: 1280px;
    height: 1px;
    background: #C4C4C4;
    border: none;
    margin-top: 224px;
    margin-left: 80px;
}

.rights{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 1440px;
    height: 55px;
    margin-top: 225px;
    background: rgba(17, 17, 17, 0.8);
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.copyright{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #FFFFFF;
}

.terms-of-use{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #FFFFFF;
    padding-left: 229px;
}